$color-primary: #FFF;
$color-secondary: #E5E5E5;
$color-accent: #F13C6E;
$color-contrast: #000;
$color-sub-contrast: #828282;

$breakpoint-tablet: 820px;
$breakpoint-mobile: 390px;

@mixin regular-text {
    font-size: 14px;
    font-weight: 400;
}